format="""
$directory\
$character\
$git_branch\
$git_metrics\
"""

right_format = """
$cmd_duration\
"""

add_newline=false

[character]
success_symbol='[\#](bold green)'
error_symbol='[\#](bold red)'
vimcmd_symbol='[v](bold green)'

[directory]
format='[$path](fg:white) '
read_only='  '
truncation_length=4
truncation_symbol='~/…/'
truncate_to_repo=true

[directory.substitutions]
'Document' = ''
'Download' = ''
'Music' = ''
'Picture' = ''
'Video' = ''
'Project' = '󱌢'
'School' = '󰑴'
'www' = ''
'.config' = ''

[git_branch]
style = 'fg:white'
format = '$branch(:$remote_branch)($style) '
truncation_length=20

[git_status]
format = '[$all_status]($style)'
style = "fg:red"

[git_metrics]
format = "([+$added]($added_style))[]($added_style) "
added_style = "fg:green"
deleted_style = "fg:red"
disabled = false

[cmd_duration]
format = "[$duration]($style) "
style = "fg:bright-white"

[package]
disabled=true
